td {font:10pt verdana}
th {font:700 10pt verdana}
a  {color:black;font:700 10pt verdana}
a:hover  {color:red;font:700 10pt verdana}
h1 {color:wheat;font:700 30pt arial;letter-spacing:10pt;background-color:maroon}
h2 {color:black;font:700 18pt arial}
h3 {color:navy;font:700 16pt arial}
h4 {color:balck;font:700 12pt arial}
body {background-color:wheat;font:10pt verdana}
